@charset "utf-8";
body,figure,h1,h2,h3,h4,ul,ol{
	margin: 0;
	padding: 0;
}
ul,ol{
	list-style: none;
}
.liststyle{
	list-style: none;
}
.Common-ContHeight{
	min-height: 200px;
}
.Common-webBgColor{
	background-color: #fd4c5b;
}
.Common-fontColor{
	color: white;
}

