@charset "utf-8";
/*导航条样式*/
.headerheight{
	height: 60px;
}
.headerIconLeft{
	left: -20px;
	width: 25px;
}
.headerCont{
	height: 60px;
	margin-left: 10px;
}
.headerContLeft{
	float: left;
	height: 60px;
}
.headerContLeft ul li{
	float: left;
	height: 60px;
	padding-top: 10px;
}
.headerContLeft ul .userPic img{
	width: 80%;
	max-width: 45px;
}
.headerContLeft ul .logo img{
	width: 100%;
	max-width: 140px;
}
.headerContRight{
	float: right;
	height: 60px;
}
.headerContRight ul li{
	float: left;
	height: 60px;
	padding-top: 15px;
}
.headerContRight ul li img{
	width: 50%;
	max-width: 35px;
}
/*侧边栏样式*/
.whiteBg{
	background-color: white;
}

/*主页content样式*/
.contentTop{
	margin-top: 15px;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	color: white;
}
.mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-progress-bar
{
    background-color: white;
    margin-top: -5px;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item
{
    border-top: none;
    border-bottom: none;
}
.loginBtn{
	margin-top: 15px;
	width: 100px;
	background-color: #fd4c5b;
}
